/*
** COLOR SCHEME
*/

html, body {
	background-image: url("../../images/night/header___back.png");
	background-repeat: repeat-x;
	background-position: top left;
}



/*
** WIKI TABS
*/

.tabs_back {
	background-image: url("../../images/night/tabs___back.png");
	background-repeat: repeat-x;
	background-position: top left;
}


/* PROFILE */
#profile #name {
    color: #555555;
    background-color: #D7E0EF;
}

#profile .section_header {
    color: #555555;
    background-color: #D7E0EF;
    border-top: thin solid #98B5E5;
}

/* SETTINGS */
#dashboard .section {
    border: thin solid #369;
    background-color: #eee;
}

#dashboard .section_header {
    color: white;
    background-color: #69c;
}

/* COMMUNITY */
#community #name {
    color: #555555;
    background-color: #D7E0EF;
}

#community .section_header {
    color: #555555;
    background-color: #D7E0EF;
    border-top: thin solid #98B5E5;
    border-bottom: thin solid #98B5E5;
}

/*
** END COLORSCHEMA
*/

