#iconsmenu {
	float: left;
	position: absolute;
	top: 52px;
	left: 196px;
	margin-top: 0px;
	width: 785px;
	height: none;
	overflow: visible;
}

#navlist {
	margin: 0;
	padding: 0;
	float: none;
	font-size: inherit;
	height: 0px;
	vertical-align: none;
}

#navlist li {
	background-image: none;
	display: inline;
	float: left;
	line-height: inherit;
	list-style: none;
	padding: 0px 1px;
	position: relative;
	z-index: 0;
}

#navlist li a div {
	cursor: pointer;
	border: none;
	height: 76px;
	width: 85px;
	text-decoration: none;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
#navlist li a div span.notext {
	display: none;
}

#navlist li a:hover div, #navlist li a.active div {
	background-position: -87px 0px;
	background-repeat: no-repeat;
}


#navlist li a.home div {
	background-image: url("../images/icon___home.png");
}
#navlist li a.download div {
	background-image: url("../images/icon___download.png");
}
#navlist li a.screenshots div {
	background-image: url("../images/icon___screenshots.png");
}
#navlist li a.doc div {
	background-image: url("../images/icon___doc.png");
}
#navlist li a.forum div {
	background-image: url("../images/icon___forum.png");
}
#navlist li a.blog div {
	background-image: url("../images/icon___blog.png");
}
#navlist li a.issues div {
	background-image: url("../images/icon___issues.png");
}
#navlist li a.statistics div {
	background-image: url("../images/icon___statistics.png");
}
#navlist li a.development div {
	background-image: url("../images/icon___development.png");
}
