.content .topnav, .content .menu {
	list-style: none;
	padding: 0;	
	margin: 0;
	float: left;
	background: none;
	font-size: 1.2em;
}
.content .topnav li, .content .menu li {
	list-style: none;
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}

.content .topnav li span.topnav, .content .menu li a {
	cursor: pointer;
	padding: 7px 10px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	display: block;  
	text-decoration: none;
}

.content .topnav li span.subhover, .content .menu li a:hover {
	cursor: pointer;
	background-color: #000;
}

.content .topnav li a {
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
.content .topnav li a:hover{
	background: none;
}
.content .topnav li span.subhover {
	background-position: center bottom; 
	cursor: pointer;
} /*--Hover effect for trigger--*/

.content .topnav li ul.subnav {
	z-index: 20; /* Is there because otherwise IE7 draws the dropdown menu below the wiki tabs */
	list-style: none;  
	position: absolute; /*--Important - Keeps submenu from affecting main navigation flow--*/  
	left: 0; 
	top: 28px;  
	background: #535151;  
	margin: 0; 
	padding: 0 0 2px;  
	display: none;
	float: left;  
	width: 150px;  
	border: 1px solid #111; 
}
.content .topnav li ul.subnav li {
	margin: 0px;
	width: 130px;
	font-size: 11px;
	color: #777;
}
html .content .topnav li ul.subnav li a {
	float: left;
	padding: 5px 10px;
	color: #bddfff !important;
}
html .content .topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	color:  #fff !important;
}

div.content ul.menu li span { /*--Drop down trigger styles--*/  
	margin: 0px 5px;
	width: 140px;
	height: 1px;
	background-color: #333;
	border-bottom: 1px solid #8797a6;
	float: left;  
} 

span.beta {
	padding: 5px 0px;
	color:#da9dc4; 
	font-variant:small-caps;
	float: right;
}

span.divider {
	margin: 5px;
	width: 140px;
	height: 1px;
	background-color: #333;
	border-bottom: 1px solid #8797a6;
	float: left;
}
