/*
	$Id: origo_home.css 3782 2010-10-21 11:16:23Z bherlig $
	
	CSS definitions for origo_home module.
*/
@CHARSET "UTF-8";


div.access_matrix {
	float:right;
	width:50%;
}

table.access_matrix th {
	border-bottom:none;
	padding: 0.3em;
	padding-left: 0.5em;
	color: #3F3F3F;
}

table.access_matrix td {
	padding: 0.3em;
	padding-left: 0.5em;
}

table.access_matrix tr {
	height: 30px;
	padding-top: 3em;
}

table.access_matrix thead #ar {
	color:#FFF;
	background:#f0f0f0 url("../img/access_matrix_header.png") repeat-x;
	background-position:left top;
}
	
table.access_matrix thead {
	background-color: #f2f2f2; 
}

table.access_matrix tbody tr {
	padding: 0.3em;
	border-top: 1px #3F3F3F solid;
	background-color: #f2f2f2;
}
